version: '3.8'

services:
  app:
    depends_on:
      - suricate_db
    build: .
    container_name: suricate-bank
    environment:
      - SERVER_PORT=8080
      - DATABASE_PORT=5432
      - DATABASE_NAME=suricate
      - DATABASE_HOST=suricate_db
      - DATABASE_USER=postgres
      - DATABASE_PASSWORD=postgres
    ports:
      - "8080:8080"
  
  suricate_db:
    image: "postgres:14-alpine"
    restart: unless-stopped
    command: ["postgres", "-c", "log_statement=all"]
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: suricate
    volumes:
      - postgres:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5
    ports:
      - "5432:5432"

volumes:
  postgres: